body {
  background-image: url(https://img1.akspic.ru/originals/3/2/6/5/3/135623-temnota-elektrik-nochnoe_nebo-astronomicheskij_obekt-sinij-3840x2160.jpg);
  background-color: grey;
}

#root {
  padding: 0 50px;
}
